*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}
section{
    width:100%;
}
.container{
    border: 1px solid;
    background-color: dimgray;
    box-shadow: 0px 0px 20px;
}
.col{
    width:100%;
}
.image{
    width:50%;
    margin:auto;
}
.image img{
       width:100%; 
}

.button{
    padding-top:20px;
    text-align:center;
    position: relative;
}
a{
    text-decoration: none;
    background-color: gray;
    padding:10px 20px;
    color:aqua;
    font-family: arial;
    font-weight: bold;
    border-radius: 10px;
    
}

.para{
    display:none;
}